*.o
*.a
*.so
*.in
*~
*.tar.gz
*.lo
*.la

.deps

/aclocal.m4
/autom4te.cache
/build-aux
/configure
/tags
/tsar-*.bz2

Makefile
Makefile.in
src/tsar
include/define.h
rpm/tsar.spec

depcomp
install-sh
missing

config.log
config.status
config.nice
config.h

.svn
*/.svn/
